body{
    background-color: lightblue;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: large;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.533);
    position: absolute;
    padding: 35px 0px 35px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    color: tomato;
}
#msg {
    font-size: xx-large;
    padding-bottom: 20px;
}
footer{
    color: white;
}